@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

.form {
  width: 100%;
  box-sizing: border-box;
  background-color: #4a90e2;
  padding: 18px 18px;
  font-family:  'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  min-width: 200px;
  color: white
}

.title,
.description {
  color: white;
  font-weight:  600;
  margin-bottom: 10px;
}

.datepicker,
.button {
  height: 40px;
}

.description {
  font-size: 10px;
}

.datepicker {
  box-sizing: border-box;
  position: relative;
  border:none;
  padding: 14px;
  box-sizing: border-box;
  font-family:  'Open Sans', sans-serif;
  font-size: 14px;
}

.datepicker::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../assets/calendar.svg) no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 13px;
  right: 0px;
  /* border-width: thin; */
}

.button {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20px;

  background-color:#f5a623;
  border-radius: 2px;
  border: 0;
  box-shadow: inset 0 -2px #cc7e00;
}

.button:hover {
  background-color:#ffb338;
}

.button:active {
  background-color:#e69616;
}